<style>
    table { border-collapse:collapse; border-spacing:0; empty-cells:show }
    td, th { vertical-align:top; font-size:10pt;}
    h1, h2, h3, h4, h5, h6 { clear:both;}
    p { white-space: nowrap; }
    ol, ul { margin:0; padding:0;}
    li { list-style: none; margin:0; padding:0;}
    span.footnodeNumber { padding-right:1em; }
    span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
    span.heading_numbering { margin-right: 0.8rem; }* { margin:0;}
    .ta1 { writing-mode:horizontal-tb; direction:ltr; }
    .ce1 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
    .ce10 { color:#0066cc; font-size:11pt; font-style:normal; font-weight:normal; padding:0.071cm; text-shadow:none; font-family:Calibri; text-decoration:underline; border-top-style:none; border-left-style:none; border-bottom-style:none; border-right-style:none; background-color:transparent; vertical-align:top; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;}
    .ce11 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; background-color:#339966; }
    .ce12 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
    .ce13 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; background-color:#339966; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
    .ce14 { color:#0066cc; font-size:11pt; font-style:normal; font-weight:normal; padding:0.071cm; text-shadow:none; font-family:Calibri; text-decoration:underline; border-top-style:none; border-left-style:none; border-bottom-style:none; border-right-style:none; background-color:transparent; vertical-align:middle; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;}
    .ce15 { color:#0066cc; font-size:11pt; font-style:normal; font-weight:normal; padding:0.071cm; text-shadow:none; font-family:Calibri; text-decoration:none ! important; border-top-style:none; border-left-style:none; border-bottom-style:none; border-right-style:none; background-color:#339966; vertical-align:middle; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;}
    .ce16 { color:#0066cc; font-size:11pt; font-style:normal; font-weight:normal; padding:0.071cm; text-shadow:none; font-family:Calibri; text-decoration:none ! important; border-top-style:none; border-left-style:none; border-bottom-style:none; border-right-style:none; background-color:transparent; vertical-align:middle; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;}
    .ce2 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; }
    .ce3 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; }
    .ce4 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
    .ce5 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; }
    .ce6 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; }
    .ce7 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
    .ce8 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
    .ce9 { color:#000000; font-size:11pt; padding:0.071cm; font-family:Calibri; vertical-align:middle; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;}
    .co1 { width:1.342cm; }
    .co2 { width:2.258cm; }
    .co3 { width:8.151cm; }
    .ro1 { height:0.557cm; }
    .T1 { color:#0066cc; font-family:Calibri; font-size:11pt; font-weight:normal; text-decoration:underline; font-style:normal; text-shadow:none; }
    /* ODF styles with no properties representable as CSS:
     { } */
</style>
<table border="0" cellspacing="0" cellpadding="0" class="ta1">
<colgroup>
	<col width="59"/>
	<col width="99"/>
	<col width="99"/>
	<col width="356"/>
</colgroup>
<tr class="ro1">
	<td style="text-align:left;width:1.342cm; " class="ce1">
		<p>Start</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce1">
		<p>End</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce1">
		<p>Length</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce1">
		<p>Episode</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>09:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>09:15</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://carpentries.typeform.com/to/wi32rS?slug=2022-01-25-NCL">Intro and pre-workshop survey</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>09:15</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>09:45</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/markdown-intro/index.html">Introduction to MarkDown</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>09:45</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>09:50</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:05:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell (5 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>09:50</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>10:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:40:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories (40 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>10:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>10:45</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce11">
		<p>BREAK</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>10:45</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>11:35</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:50:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories (50 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>11:35</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>12:10</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:35:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters (35 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>12:10</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>13:05</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:55:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce11">
		<p>LUNCH</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>13:05</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>13:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:50:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html">Loops (50 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>13:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>14:25</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts (45 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>14:25</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>14:40</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>14:40</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>14:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce11">
		<p>BREAK</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>14:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>15:40</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce5">
		<p>00:45:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="http://swcarpentry.github.io/shell-novice/07-find/index.html">Finding Things (45 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>15:40</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>15:40</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce6"> </td>
	<td style="text-align:left;width:8.151cm; " class="ce11">
		<p>FINISH</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:left;width:1.342cm; " class="ce3"> </td>
	<td style="text-align:left;width:2.258cm; " class="ce3"> </td>
	<td style="text-align:left;width:2.258cm; " class="ce3"> </td>
	<td style="text-align:left;width:8.151cm; " class="ce6"> </td>
</tr>
<tr class="ro1">
	<td style="text-align:left;width:1.342cm; " class="ce1">
		<p>Start</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce1">
		<p>End</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce1">
		<p>Length</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce1">
		<p>Episode</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>09:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>09:15</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce12">
		<p>Introduction (15 minutes)</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>09:15</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>09:20</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:05:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/01-basics/index.html">Automated Version Control (5 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>09:20</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>09:25</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:05:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/02-setup/index.html">Setting up Git (5 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>09:25</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>09:35</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:10:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/03-create/index.html">Creating a Repository (10 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>09:35</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>09:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:20:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/04-changes/index.html">Tracking Changes (20 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>09:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>10:20</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:25:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/05-history/index.html">Exploring History (25 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>10:20</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>10:25</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:05:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/06-ignore/index.html">Ignoring Things (5 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>10:25</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>10:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://swcarpentry.github.io/git-novice/07-github/index.html">Remotes in GitHub (30 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>10:55</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>11:10</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce13">
		<p>Break (15minutes)</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>11:10</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>11:35</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:25:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/08-collab/index.html">Collaborating (25 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>11:35</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>11:50</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/09-conflict/index.html">Conflicts (15 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>11:50</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>12:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:10:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/10-open/index.html">Open Science (10 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>12:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>12:05</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:05:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/11-licensing/index.html">Licensing (5 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>12:05</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>12:10</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:05:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/12-citation/index.html">Citation (5 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>12:10</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>12:20</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce7">
		<p>00:10:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce10">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/git-novice/13-hosting/index.html">Hosting (10 minutes)</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce4">
		<p>12:20</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce4">
		<p>12:20</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce3"> </td>
	<td style="text-align:left;width:8.151cm; " class="ce11">
		<p>FINISH</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:left;width:1.342cm; " class="ce3"> </td>
	<td style="text-align:left;width:2.258cm; " class="ce3"> </td>
	<td style="text-align:left;width:2.258cm; " class="ce3"> </td>
	<td style="text-align:left;width:8.151cm; " class="ce6"> </td>
</tr>
<tr class="ro1">
	<td style="text-align:left;width:1.342cm; " class="ce3"> </td>
	<td style="text-align:left;width:2.258cm; " class="ce3"> </td>
	<td style="text-align:left;width:2.258cm; " class="ce3"> </td>
	<td style="text-align:left;width:8.151cm; " class="ce6"> </td>
</tr>
<tr class="ro1">
	<td style="text-align:left;width:1.342cm; " class="ce1">
		<p>Start</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce1">
		<p>End</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce8">
		<p>Length</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce1">
		<p>Episode</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>09:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>09:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/01-intro/index.html">1. Python Fundamentals</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>09:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>10:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>01:00:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/02-pandas/index.html">2. Analyzing Data</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>10:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>10:45</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce15">
		<p>BREAK</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>10:45</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>11:15</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/03-matplotlib/index.html">3. Visualizing Data</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>11:15</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>12:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:45:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/04-lists/index.html">4. Storing Multiple Values in Lists</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>12:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>12:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/05-loop/index.html">5. Repeating Actions with Loops</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>12:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>13:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>01:00:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce15">
		<p>LUNCH</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>13:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>14:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>01:00:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/06-files/index.html">6. Analyzing Data From Mutliple Files</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>14:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>14:45</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:15:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce15">
		<p>BREAK</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>14:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>15:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/07-cond/index.html">7. Making Choices</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>15:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>15:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:30:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce14">
		<p>
			<span class="T1">
				<a href="https://nclrse-training.github.io/python-novice/08-func/index.html">8. Creating Functions</a>
			</span>
		</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>15:30</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>15:40</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:10:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce16">
		<p><a href="https://carpentries.typeform.com/to/UgVdRQ?slug=2022-01-25-NCL">Post workshop survey</a></p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>15:40</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>16:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce9">
		<p>00:20:00</p>
	</td>
	<td style="text-align:left;width:8.151cm; " class="ce16">
		<p>Questions and Answers</p>
	</td>
</tr>
<tr class="ro1">
	<td style="text-align:right; width:1.342cm; " class="ce2">
		<p>16:00</p>
	</td>
	<td style="text-align:right; width:2.258cm; " class="ce2">
		<p>16:00</p>
	</td>
	<td style="text-align:left;width:2.258cm; " class="ce9"> </td>
	<td style="text-align:left;width:8.151cm; " class="ce11">
		<p>FINISH</p>
	</td>
</tr>
</table>
